  {% extends 'blog/base.html' %}

    {% block content %}

        {% for entry in entries_list %}

            <div class="post">
                <div class="date">
                    {{ entry.date|date }}
                </div>
                <h1><a href="{% url 'post_detail' pk=forloop.counter0  %}">{{ entry.feed.title }}: {{ entry.title|safe }}</a></h1>
                    <div class="entry">
                        <p>{{ entry.summary|safe|truncatewords_html:30 }}</p>
                    </div>
            </div>
        {% endfor %}
    {% endblock content %}
