{% extends 'blog/base.html' %}
{% load filters %}

    {% block content %}
        {% for entry in entries_list %}

            {% if forloop.counter0 == pk|uni_to_int %}
                <div class="post">
                        <div class="date">
                            {{ entry.date|date }}
                        </div>
                    <h1>{{ entry.title|safe }}</h1>
                    <p>{{ entry.summary|getimg|safe }}</p>
                    <p>{{ entry.summary|removeimg|safe }}</p>
        </div>
            {% endif %}
        {% endfor %}
    {% endblock %}